$color-brand-aqua: #25bebc;
$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #4A148C;
$color-brand-brown: #4E342E;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: #880E4F;
$color-header-links: #CBD2FF;

$color-button-background: $color-brand-purple;